* {
  box-sizing: border-box;
  border: 10px black;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #fdfcfc;
  border: 10px black;
  padding: 1px;
  background-image: url(bottom-image.png), linear-gradient(to bottom, rgba(251, 247, 247, 0), rgba(102, 100, 100, 0.267));
  background-position: bottom;
  background-repeat: no-repeat;
  
}

article {
  width: 210mm;
  height: 297mm;
  margin: 2px auto;
  position: relative;
  background-image: url(top-image.png), linear-gradient(to top, rgba(251, 247, 247, 0), rgba(102, 100, 100, 0.267));
  background-repeat: no-repeat;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
  border: 3mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url(logo.png);
  filter: drop-shadow(10px 10px 4px #55545471);
}


/* Your CSS below here */