body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 50px;
}

h1{
    font-size: 60px;

}
h2{
    font-size: 35px;
}

#number {
    font-size: 30px;
}

label {
    font-size: 30px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#submitButton {
  transition: transform 0.5s ease-in-out;
}

#submitButton:hover {
  transform: translate(var(--randomX), var(--randomY));
}


#guess {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  #number {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  #guess {
    margin-bottom: 20px;
  }
  
  button {
    transition: transform 0.2s ease-in-out;
  }
  
  button:hover {
    transform: translate(var(--randomX), var(--randomY));
  }
  