.delay {
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    50% {
        color: greenyellow;
        font-size: 50vw;
    }

    to {
        margin-left: 0%;
    }
}

p {
    font-size: 5vw;
}

.getbig {
    animation: 3s 2 alternate getbig;
}

@keyframes getbig {
    from {
        font-size: 1vw;
    }

    to {
        font-size: 100vw;
        color: blue;
    }
}

#gohover {
    font-size: 5vw;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: .25s;
    background-color: brown;
    animation: 3s infinite alternate gohover;
}

#gohover:hover {
    font-size: 10vw;
    color: purple;
}