@media screen and (min-width: 401px) {
 
 body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(8, 29, 45);
    color: rgb(164, 146, 137);
    margin: 0;
 }

 .sticky {
    background-color: rgb(8, 29, 45); 
    padding: .5em;
    position: sticky;
    top: 0;
 }

 .concert {
    font-size: 30px;
    color: rgb(193, 173, 164); 
 }


 .concert:hover{
    color: rgb(8, 29, 45);
}

nav {
    background-color: rgb(164, 146, 137);
    padding: .5em;
    position: sticky;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: rgb(8, 29, 45);
    text-decoration: none;
    font-size: 18px;
    padding: .5em 1em;
    display: flex;
  }

  nav a:hover{
    color: rgb(9, 112, 190);
  }

 #flex-parent{
    display:flex;
    background-color: rgb(164, 146, 137);;
    flex-direction: row;
}

#flex-parent p{
    padding:5vw;
}

#flex-child1{
     order: 3; 
     padding: 15px;
     color: rgb(8, 29, 45);
     align-content: center;
}

#flex-child2{
 order:4;
 padding: 15px;
 color: rgb(8, 29, 45);
 align-content: center;
}

#grid-parent{
    display:grid;
    grid-template-columns: repeat(3,33vw);
    grid-gap: 20px;
    padding: 20px;
   
}

.grid-item1 {
    background-image: url(sheetmusic.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
  
}

.grid-item1:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item2 {
    background-image: url(violin.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item2:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item3 {
    background-image: url(piano.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item3:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item4 {
    background-image: url(flute.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item4:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item5 {
    background-image: url(girl.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item5:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item6 {
    background-image: url(violin2.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item6:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item7 {
    background-image: url(sheet2.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item7:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item8 {
    background-image: url(piano2.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item8:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}

.grid-item9 {
    background-image: url(violin3.png);
    padding:2vw;
    margin:1vw;
    color: rgba(8, 29, 45, 0);
    
}

.grid-item9:hover {
    background-image: none;
    background-color: rgba(193, 173, 164, 0.58);
    color: rgb(8, 29, 45);
}
}








@media screen and (max-width: 400px){
    body{
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(8, 29, 45);
        color: rgb(164, 146, 137);
        margin: 0;
     }

     .sticky {
        background-color: rgb(8, 29, 45); 
        padding: .5em;
        position: sticky;
        top: 0;
     }
    
     .concert {
        font-size: 30px;
        color: rgb(193, 173, 164); 
     }
    
     .concert:hover{
        color: rgb(8, 29, 45);
    }

    nav {
        background-color: rgb(164, 146, 137);;
        padding: .5em;
        position: sticky;
        top: 0;
      }

      
      nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    
      }
    
      
      nav a {
        color: rgb(8, 29, 45);
        text-decoration: none;
        font-size: 18px;
        padding: .5em 1em;
        display: flex;
      }
    
     #flex-parent{
        display:flex;
        background-color: rgb(164, 146, 137);;
        flex-direction: row;
    }
    
    #flex-parent p{
        padding:5vw;
    }
    
    #flex-child1{
         order: 3; 
         padding: 15px;
         color: rgb(8, 29, 45);
         align-content: center;
    }
    
    #flex-child2{
     order:4;
     padding: 15px;
     color: rgb(8, 29, 45);
     align-content: center;
    }
    
    #grid-parent{
        display:flex;
        flex-direction: row;
        background-color: rg;
       
    }
    
    .grid-item1 {
        background-image: url(sheetmusic.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
      
    }
    
    .grid-item1:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item2 {
        background-image: url(violin.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item2:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item3 {
        background-image: url(piano.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item3:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item4 {
        background-image: url(flute.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item4:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item5 {
        background-image: url(girl.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item5:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item6 {
        background-image: url(violin2.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item6:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item7 {
        background-image: url(sheet2.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item7:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item8 {
        background-image: url(piano2.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item8:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
    
    .grid-item9 {
        background-image: url(violin3.png);
        padding:2vw;
        margin:1vw;
        color: rgba(8, 29, 45, 0);
        
    }
    
    .grid-item9:hover {
        background-image: none;
        background-color: rgba(193, 173, 164, 0.58);
        color: rgb(8, 29, 45);
    }
}